.tableContainer {
    display: table;
    width: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    .tableRow {
        display: table-row;
        .tableCell {
            display: table-cell;
            width: 15%;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}